.oi {
    text-align: center;
    padding-left: 300px;
    
}
.iu {
    text-align: center;
    padding-left: 100px;
    color:#2da8c9; 
}
.apple {
    color: #2da8c9; 
}

.fom
{
    padding-right: 300px;
    border-radius: 10px; 
}

.btnbtn
{
   padding-left: 400px;
}
.green
{
    padding: 0px 100px;
}
.submit {
    text-align: center; 
}
.container {
    background-color: lavender; 
}


